/* Обнуление отступов и полей у всех элементов для корректного расчета размеров */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Общие стили для body */
body {
    font-family: sans-serif; /* Используемый шрифт для текста */
    color: #343a40; /* Цвет текста */
    line-height: 1; /* Одинарный интерлиньяж (межстрочный интервал) */
}

/* Стили для контейнера "accordion" */
.accordion {
    width: 700px; /* Ширина контейнера */
    margin: 100px auto; /* Верхний и нижний отступы 100px, автоматическое выравнивание по горизонтали */
    display: flex; /* Использование flex-контейнера */
    flex-direction: column; /* Ориентация контейнера по вертикали */
    gap: 24px; /* Пространство между дочерними элементами */
}

/* Стили для элемента "item" */
.item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Тень блока */
    padding: 20px 24px; /* Внутренние отступы сверху и снизу 20px, слева и справа 24px */
    padding-right: 48px; /* Дополнительный правый отступ */
    cursor: pointer; /* Изменение вида курсора при наведении */
    border-top: 4px solid #fff; /* Верхняя граница белого цвета */
    border-bottom: 4px solid #fff; /* Нижняя граница белого цвета */

    display: grid; /* Использование grid-контейнера */
    grid-template-columns: auto 1fr auto; /* Определение колонок с автоматической шириной, 1fr - оставшееся пространство, автоматическая ширина */
    column-gap: 24px; /* Горизонтальный интервал между столбцами */
    row-gap: 32px; /* Вертикальный интервал между строками */
    align-items: center; /* Выравнивание элементов по центру */
}

/* Стили для элемента "number" */
.number {
    font-size: 24px; /* Размер шрифта */
    font-weight: 500; /* Полужирное начертание */
    color: #ced4da; /* Цвет текста */
}

/* Стили для элементов "title" и "icon" */
.title,
.icon {
    font-size: 24px; /* Размер шрифта */
    font-weight: 500; /* Полужирное начертание */
}

/* Стили для блока "content-box" */
.content-box {
    grid-column: 2 / -1; /* Занимает вторую и последнюю колонки grid-контейнера */
    padding-bottom: 16px; /* Внутренний отступ снизу */
    line-height: 1.6; /* Интерлиньяж (межстрочный интервал) 1.6 */
}

/* Стили для списков внутри "content-box" */
.content-box ul {
    color: #868e96; /* Цвет текста */
    margin-left: 16px; /* Отступ слева */
    margin-top: 16px; /* Отступ сверху */

    display: flex; /* Использование flex-контейнера */
    flex-direction: column; /* Ориентация по вертикали */
    gap: 12px; /* Пространство между дочерними элементами */
}

/* OPEN STATE */
/* Стили для состояния "open" (раскрытый элемент) */
.open {
    border-top: 4px solid #087f5b; /* Верхняя граница при открытом состоянии */
}

/* Стили для цвета текста и номера при открытом состоянии */
.open .number,
.open .title {
    color: #087f5b; /* Цвет текста */
}
